

/* nav bars*/
ol,
ul {
    padding-left: 0 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #f5f5f5;
}

.top_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #dd614a;
    display: flex;
    align-items: center;
    z-index: 0;
}

.top_navbar .logo {
    font-size: 25px;
    font-weight: 700;
    padding: 0 25px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.top_navbar .menu {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_navbar .hamburger {
    font-size: 25px;
    cursor: pointer;
    color: white;
    padding-right: 20px;
    border-right: 1px solid #f5f5f5;
}

.top_navbar .hamburger:hover {
    color: #007dc3;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 220px;
    height: 100%;
    background: #73a580;
    box-shadow: 3px 0 4px -2px #888;
}

.sidebar i {
    text-shadow: 2px 2px #ff0000;
}

.sidebar ul li a {
    display: block;
    padding: 16px 25px;
    border-bottom: 1px solid #03374e;
    color: #0e94d4;
    text-decoration: none;
}

.sidebar ul li a .icon {
    font-size: 18px;
    color: white;
    vertical-align: middle;
}

.sidebar ul li a .text {
    margin-left: 19px;
    color: #fff;
    font-family:'Fira Code', 'Courier New', Courier, monospace;
    font-size: 18px;
    letter-spacing: 2px;
}

.sidebar ul li a:hover {
    background: #0e94d4;
    color: #fff;
    transition: all 400ms;
}

.hover_collapse .sidebar {
    width: 70px;
}

.hover_collapse .sidebar ul li a .text {
    display: none;
}

.main-content {
    margin-left: 70px;

}

.logo-text {
    font-family: 'Outfit', sans-serif;
    font-weight:bold;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 2px 2px #ff0000;
    text-decoration: none;
}

.logo-text:hover {
    color: #007dc3;
    transition: all 400ms;
}


/* About  */
.about {
    background-color: #f48668;
}

.about-content{
    margin-bottom: 5%;
    background-color: #f48668;
    width: 100%;
    border: solid black 3px;
    padding: 0.5em;
    box-shadow: black 5px 5px;
    transition: all 400ms;
    min-height: 400px;
    font: bold;
}

.card {
    position: static !important;
}

/* About */
.about-image {
    float: right;
    margin: 5px;
}

.about-image-poke {
    float: left;
    margin: 5px;
}

/* General */
.content-heading {
    margin-top: 2%;
}

.content-divider {
    border-top: 2px solid black;
    width: 50%;
    margin-left: 25%;
}

a:hover {
    color: #0e94d4;
}

.btn-link {
    text-decoration: none !important;
}

a:link { 
    text-decoration: none; 
    color: #000;
}

a:visited { 
    text-decoration: none; 
    color: purple;
}


/* Projects  */
.project-card {
    width: auto;
    border: solid black 3px;
    padding: 0.5em;
    margin: 2em 0em 2em 0em;
    box-shadow: black 5px 5px;
    min-height: 475px;
}

.more-projects {
    padding-bottom: 3%;
    width: auto;
    border: solid black 3px;
    padding: 0.5em;
    margin: 2em 0em 2em 0em;
    box-shadow: black 5px 5px;
}

.project-footer {
    border: solid black 3px;
    padding: 0.5em;
    box-shadow: black 5px 5px;
}

.project-img {
    min-height: 195px;
}

.more-projects-img {
    min-height: 170px;
    justify-content: center;
}


.project-footer:hover {
    background-color: #ffe347;
}

.projects {
    background-color: #ffe347;
}

a:hover {
    color: #0e94d4;
}

.btn-link {
    text-decoration: none !important;
}


/* Some Experience */
.experience {
    background-color: #f48668;
    z-index: -1;

}

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
    
}
.history-items {
    margin-bottom: 30px;
    margin-left: 48%;
}

.experience-image {
    margin-left: -135px;
    position: absolute;
}

/* Education */
.education {
    background-color: #ffe347;

}

.education-content {
    margin-bottom: 5%;
    background-color: #fff;
    width: 100%;
    border: solid black 3px;
    padding: 0.5em;
    margin: 2em 5em 2em 0em;
    box-shadow: black 5px 5px;
    transition: all 400ms;
    min-height: 400px;
    font: bold;
}

/* Connect */
.connect-card:hover {
    background: yellow;
}

.connect-card {
    background-color: #fff;
    width: 100%;
    border: solid black 3px;
    padding: 0.5em;
    margin: 1em;
    box-shadow: black 5px 5px;
    transition: all 400ms;
    font: bold;
}

.connect-card i {
    text-shadow: 2px 2px #fff;
}

.connect-card a {
    text-decoration: none;
    color:black;
}

.card-table {
    display: grid;
    text-decoration: none;
}

.connect {
    background-color: #73a580;
    padding-bottom: 3%;
}

/* Head Image */
.typewrite {
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 2px 2px #ff0000;
    display: flex;
    justify-content: center;
}

.vertical-center {
    padding-top: 35vh !important;
}


.head-image {
    background-color: #f4a698;
    padding-top: 5%;
    height: 100vh;
}